<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net452" />
  <package id="Fody" version="5.0.5" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="KeraLua" version="1.0.22" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.24.1" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.205" targetFramework="net452" />
  <package id="ModuleInit.Fody" version="2.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net452" />
  <package id="NLua" version="1.4.25" targetFramework="net452" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net45" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="Unity" version="5.8.6" targetFramework="net452" />
</packages>